{% extends 'tickets/main.html' %}

{% block content %}
    <div class="container p-5 m-0">
        <h1>Users :</h1>
        <ul class="list-unstyled">
            {% for user in users %}
                <li>
                    <a href="{% url 'show_user' user.id %}">{{ user.first_name }} {{ user.last_name }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="stats d-flex justify-content-around">
            <div class="card">
                <div class="followers">
                    <p>{{user.first_name}}'s followers : </p>
                    <ul class="list-unstyled">
                        {% for follower in followers %}
                            <li>
                                <a href="{% url 'show_user' user.id %}">
                                    {{ follower.user.first_name }} {{ follower.user.last_name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="followed">
                    <p>{{user.first_name}} follows : </p>
                    <ul class="list-unstyled">
                        {% for follower in following %}
                            <li>
                                <a href="{% url 'show_user' user.id %}">
                                    {{ follower.followed_user.first_name }} {{ follower.followed_user.last_name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
