{% extends 'tickets/main.html' %}

{% block content %}
    <div class="container">
        <h1 class="m-5 text-center ">Register</h1>
        <div class="form-group">
            <form action="" method="POST" class="form-group">
                {% csrf_token %}
                
                {{ form.as_p }}    
                    <div class="d-flex justify-content-between pt-3">
                        <button class="btn btn-secondary">Register</button>
                        <a href="{% url 'login'%}" class="btn btn-primary">Login</a>
                    </div>
                {{ form.errors }}
            </form>
        </div>
    </div>

{% endblock %}
